.mainContainer{
  display: flex;
  justify-content: space-between;
  .leftMenu{
    min-width: 260px;
    transition: .3s;
    .composeBtn{
      padding: 15px;
      button{
        height: 45px;
        width: 155px;
        padding: 15px 27px;
        border: none;
        border-radius: 25px;
        font-size: .9rem;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        background: #fff;
        box-shadow: 1px 1px 6px #ccc;
        svg{
          font-size: 24px;
          color: red;
        }
      }
    }
    .listInner{
      width: 100%;
      ul{
        width: 100%;
        li{
          width: 100%;
          list-style: none;
          .link{
            width: 85%;
            padding: 7px 20px;
            background: transparent;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 0 25px 25px 0;
            svg, label, em{
              font-size: .9rem;
            }
            &.active{
              background: #fce8e6;
              svg, label, em{
                color: #d93025;
                font-weight: bold;
              }
            }
            svg{
              font-size: 18px;
              float: left;
              margin-right: 20px;
              color: #595959;
            }
            label{
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: #202124;
              .text{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
            em{
              font-style: normal;
              float: right;
            }
          }
        }
      }
    }
    &.small{
      .composeBtn{
        padding-left: 10px;
        button{
          width: 47px;
          padding: 15px 11px;
        }
        label{
          display: none;
        }
      }
      .listInner{
        ul{
          li{
            .link{
              em{
                display: none;
              }
              label{
                .text{
                  display: none;
                }
              }
            }
          }
        }
      }
      min-width: 80px;
      transition: .3s;
    }
  }

  .mailListing{
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px); // Adjust based on header height

    .filterUpper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      border-bottom: 1px solid #ccc;
      flex-shrink: 0;
      svg{
        font-size: 21px;
        color: #595959;
      }
      .leftFilter, .rightFiter{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .nextPrev{
        margin: 0 10px;
        height: 21px;
        svg{
          margin: 0 5px;
          color: #666;
        }
      }
      .split, .inputTool, .refreshIcon, .more{
        margin: 0 10px;
        height: 21px;
      }
      .refreshIcon, .more{
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2px;
        &:hover{
          background: #d6d6d6;
        }
      }
      .totalNum{
        font-size: .8rem;
        color: #666;
      }
    }
    .listInner{
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .tab{
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #eee;
        flex-shrink: 0;
        ul{
          li{
            list-style: none;
            float: left;
            width: 300px;
            max-width: 33.33%;

            button{
              background: transparent;
              border: transparent;
              width: 90%;
              height: 55px;
              text-align: left;
              display: flex;
              align-items: center;
              border-bottom: 4px solid transparent;
              font-size: .8rem;
              font-weight: 500;
              color: #666;
              padding-left: 15px;
              border-radius: 4px;
              svg{
                font-size: 22px;
                margin-right: 20px;
              }
              &:hover{
                background: #eee;
              }
            }
            &.active{
              button{
                color: #d93025;
                border-bottom-color: #d93025;
              }
            }
          }
        }
      }
      .listing{
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;

        // Custom scrollbar styling
        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

        .item{
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #ccc;
          font-size: .9rem;
          padding:0 10px;
          cursor: pointer;
          min-height: 24px;
          svg{
            font-size: 21px;
            color:#666666;
          }
          .checkBox, .star, .import{
            width: 40px;
            height: 38px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition:0.3s;
            &:hover{
              background: #d6d6d6;
            }
          }

          .subject{
            width: 220px;
          }
          .summary{
            width:calc(100% - 410px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .dateTime{
            width: 100px;
            text-align: right;
            font-size: 13px;
          }
          &:nth-child(2n+1){
            box-shadow: inset 0 -1px 20px 20px rgb(95 132 165 / 7%);
          }
          &:hover{
            box-shadow: 0 0 7px 1px #ccc;
          }
        }
      }
    }
  }
  .userList{
    min-width: 260px;
    padding: 15px;
    box-sizing: border-box;
    .userListInner{
      padding: 10px 0;
      h6{
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 5px;
      }
      ul{
        li{
          list-style: none;
          .link{
            padding:5px 10px 5px 0;
            svg{
              font-size: 18px;
              color: #666666;
              margin-right: 10px;
            }
            label{
              display: flex;
              align-items: center;
              font-size: 13px;
              color: #666666;
            }
          }
        }
      }
      .hangoutSelf{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 14px;
        color: #666666;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        .userImg{
          display: flex;
          align-items: center;
          justify-content: start;
          position: relative;
          &:after{
            content: "";
            background: green;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            z-index: 11;
            left: 14px;
            bottom: -3px;
          }
        }
        svg{
          font-size: 24px;
          color: #999;
          margin-right: 10px;
        }
      }
      &.hangouts{
        ul{
          li{
            .link{
              svg{
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}